include ../helpers/variables
include ../helpers/mixins

+script([], [
	'index.js',
])

block changeVar
	-data = index

doctype html
html(lang='ru')
	include ../blocks/head/head

	body
	
		block header
			include ../blocks/header/template

		block content

		block footer
			include ../blocks/footer/template


		block additional-content
			include ../blocks/modals/auth/template
			include ../blocks/modals/register/template
			//- include ../blocks/modals/video/template

		block scripts
			include ../blocks/scripts/scripts