include ../helpers/variables
include ../helpers/mixins


+script([], [
	'index.js',
])

block changeVar
	-data = account
	-sidebar = data.sidebar

doctype html
html(lang='ru')
	include ../blocks/head/head

	body
		
		include ../blocks/sidebar/template
		
		.main-content
			include ../blocks/notifications/template
			block content

		block scripts
			include ../blocks/scripts/scripts
