include ../helpers/variables
include ../helpers/mixins

block changeVar

doctype html
html(lang='ru')
  include ../blocks/head/head

  body
    //Header
    block header
      include ../blocks/header/template
    //END-Header

    //Content
    .main-content
      block content
    //END-Content
