footer.footer
  .container.footer-inner
    .footer__about
      span © Zenomania
      a(href='#')
        span Правила участия
    .footer__apps
      a(href='#', target='_blank')
        img(src='../images/svg/app-store.svg', alt='')
      a(href='#', target='_blank')
        img(src='../images/svg/app-store-android.svg', alt='')