.zen-progress__count {
  position: absolute;
  top: -2px;
  right: 40px;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
}

.zen-progress__tabs-wrap {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.zp-nav {
  border-bottom: 1px solid #2A2C2D;
}

.zp-nav__item {
  display: inline-block;
  margin-right: 10%;
  &:last-child {
    margin-right: 0;
  }
  &.is-nav-selected {
    color: #fff;
    a {
      color: #FFF;
      border-color: #11C5EF;
    }
  }
  a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 22px;
    padding-bottom: 20px;
    color: #848487;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    &:hover {
      color: #FFF;
    }
  }
}

.zen-progress__tab {
  width: 100%;
}

.zen-progress__medal-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 30px;
}

.zen-progress__medal {
  display: inline-block;
  width: 25%;
  margin-bottom: 50px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  span {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: #666;
  }
  p {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
  }
}