.notifications-wrap
	.notifications
		.notifications__burger
			a.notifications__burger-link(href='#')
				.burger-icon
					span
					span
					span
					span
			a.notifications__burger-logo(href='/')
				img(src='../images/svg/logo-top.svg', alt='')
		.notifications__info.notifications-link-wrap
			a.notifications-link(href='#')
				img(src='../images/svg/icons/icon-notification-bell.svg', alt='')
				p
					| На этой неделе вы можете заработать 
					span 49 ZEN
		.notifications__lk
			a.btn-exit(href='#', title='Выйти из профиля')
				span Выйти
				svg(xmlns='http://www.w3.org/2000/svg', width='26.47', height='22.53', viewbox='0 0 26.47 22.53')
					path(d='M17 19.53a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v5.2h2V3a3 3 0 0 0-3-3H3a3 3 0 0 0-3 3v16.53a3 3 0 0 0 3 3h13a3 3 0 0 0 3-3v-4.7h-2z')
					path(d='M8.17 10.26h14v2h-14z')
					path(d='M21.29 14.25l5.18-2.99-5.18-2.99v5.98z')