extends ../layouts/index-admin

append changeVar

block content
	section.hinting-sec
		.hinting-giraffe
			img.hinting-giraffe__arrow(src='images/svg/hint-giraffe-arrow.svg', alt='')
			img.hinting-giraffe__animal(src='images/svg/hint-giraffe.svg', alt='')
			img.hinting-giraffe__triangle(src='images/svg/hint-giraffe-triangle.svg', alt='')
			.hinting-giraffe__text
				| Здесь все про заработать зены бла бла У планет-гигантов нет твёрдой поверхности, таким образом магнитное поле многопланово ищет первоначальный керн, хотя для имеющих глаза-телескопы туманность
	.main-head-wrap
		.main-head
			a.main-head__logo(href='/')
				img(src='img/logo-top.png', alt='Zenomania')
			ul.main-head__menu.main-menu
				li
					a(href='get-zen.html') Заработать ZEN
				li
					a(href='take-zen.html') Потратить ZEN
				li
					a(href='raitings.html') Рейтинг
				li
					a(href='news.html') Новости
			.main-head__anons
				p.main-head__anons-title Ближайший матч:
				p.main-head__anons-info
					| 25 декабря в 18:00 
					br
					| 				ВК Зенит-Казань — Динамо (Краснодар)
				.main-head__anons-btn
					a.btn(href='#')
						span Купить билет
						em +200 ZEN
	.main-content
		.top-note-wrap
			.top-note
				.top-note__burger
					a.top-note__burger-link(href='#')
						.burger-icon
							span
							span
							span
							span
					// top-note__burger-link
					a.top-note__burger-logo(href='/')
						img(src='images/svg/logo-top.svg', alt='')
				// top-note__burger
				.top-note__info.notification-link-wrap
					a.notification-link(href='#')
						img(src='images/svg/icons/icon-notification-bell.svg', alt='')
						p
							| На этой неделе вы можете заработать 
							span 49 ZEN
				// notification-link-wrap
				.top-note__lk
					a.btn-exit(href='#', title='Выйти из профиля')
						span Выйти
						svg(xmlns='http://www.w3.org/2000/svg', width='26.47', height='22.53', viewbox='0 0 26.47 22.53')
							path(d='M17 19.53a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v5.2h2V3a3 3 0 0 0-3-3H3a3 3 0 0 0-3 3v16.53a3 3 0 0 0 3 3h13a3 3 0 0 0 3-3v-4.7h-2z')
							path(d='M8.17 10.26h14v2h-14z')
							path(d='M21.29 14.25l5.18-2.99-5.18-2.99v5.98z')
				// top-note__lk
			// top-note
		// top-note-wrap
		.profile-wrap
			.profile
				.profile__about
					a.btn-edit(href='#', title='Редактировать профиль')
						svg(xmlns='http://www.w3.org/2000/svg', width='16.263', height='16.263', viewbox='0 0 16.263 16.263')
							path.cls-1(d='M10.607 2.828l2.828 2.828-8.485 8.486-2.83-2.83zM13.436 0l2.828 2.83-2.12 2.12-2.83-2.828zM1.414 12.02l2.83 2.83L0 16.262l1.414-4.242z')
					.profile__about-info
						img(src='img/profile-photo.png', alt='')
						p Константин Краснодемьянский
						span Подающий надежды Пода
					// profile__about-info
					.profile__about-zen
						p 230 ZEN
						a(href='#') Место в рейтинге: 132
					// profile__about-zen
				// profile__about
				.profile__info
					.profile__info-tabs-nav
						a(href='#') Моя статистика
						a(href='#') Мои призы
						a(href='#') Пригласить друзей
					// profile__info-tabs-nav
					.profile__info-tabs
						.profile__info-tab
							.profile__info-stat-nav
								p.profile__info-stat-title Всего
								.profile__info-stat-links
									span 1255 ZEN
									| 							за
									a(href='#') месяц
									a(href='#') год
									a.active(href='#') все время
								// profile__info-stat-links
								#profile-stat-sens-list.profile__info-stat-zens-wrap
									.profile__info-stat-zens
										.profile__info-stat-zen.stat-zen
											p.stat-zen__title Посещение матчей
											.stat-zen__line
												.stat-zen__line-inner
											span.stat-zen__count 407 ZEN
										// profile__info-stat-zen
										.profile__info-stat-zen.stat-zen
											p.stat-zen__title Покупка атрибутики
											.stat-zen__line
												.stat-zen__line-inner
											span.stat-zen__count 407 ZEN
										// profile__info-stat-zen
										.profile__info-stat-zen.stat-zen
											p.stat-zen__title Прогнозы матчей
											.stat-zen__line
												.stat-zen__line-inner
											span.stat-zen__count 407 ZEN
										// profile__info-stat-zen
										.profile__info-stat-zen.stat-zen
											p.stat-zen__title Репост из соцсетей
											.stat-zen__line
												.stat-zen__line-inner
											span.stat-zen__count 407 ZEN
										// profile__info-stat-zen
										.profile__info-stat-zen.stat-zen
											p.stat-zen__title Пригласил друга
											.stat-zen__line
												.stat-zen__line-inner
											span.stat-zen__count 407 ZEN
										// profile__info-stat-zen
									// profile__info-stat-zens
								// profile__info-stat-zens-wrap
							// profile__info-stat-nav
						// profile__info-tab
						.profile__info-tab
							.profile__info-presents
								.profile__info-present-wrap
									a.profile__info-present(href='#')
										img(src='img/profile-present-1.jpg', alt='')
										span Толстовка “Зенит Казань”
								// profile__info-present-wrap
								.profile__info-present-wrap
									a.profile__info-present(href='#')
										img(src='img/profile-present-1.jpg', alt='')
										span Фирменный шарф “Зенит Казань”
								// profile__info-present-wrap
								.profile__info-present-wrap
									a.profile__info-present(href='#')
										img(src='images/svg/profile-present.svg', alt='')
										span Поездка в Сочи на межконтинентальный кубок по пляжному волейболу
								// profile__info-present-wrap
								.profile__info-present-wrap
									a.profile__info-present(href='#')
										img(src='img/profile-present-1.jpg', alt='')
										span Толстовка “Зенит Казань”
								// profile__info-present-wrap
							// profile__info-presents
						// profile__info-tab
						.profile__info-tab
							.profile__info-tab-text
								p Отправь приглашение другу на e-mail или пришли ему эту ссылку 
								a(href='http://zenomania.ru/join?refrr=79376268300') http://zenomania.ru/join?refrr=79376268300
							// profile__info-tab-text
							form
								.form-row.profile__info-form
									input.input-text.input-text--mini(type='text', placeholder='E-mail друга')
									button.btn.btn--blue Отправить
								// form-row
						// profile__info-tab
					// profile__info-tabs
				// profile__info
			// profile
		// profile-wrap
		section.get-zen-sec
			.get-zen-wrap
				.soc-icons-list-wrap
					ul.soc-icons-list
						li.soc-icons-item.active
							a(href='#', title='Вконтакте')
								img(src='images/svg/icons/icon-soc-vk.svg', alt='Вконтакте')
						li.soc-icons-item
							a(href='#', title='Facebook')
								img(src='images/svg/icons/icon-soc-fb.svg', alt='Facebook')
						li.soc-icons-item
							a(href='#', title='Twitter')
								img(src='images/svg/icons/icon-soc-twitter.svg', alt='Twitter')
						li.soc-icons-item
							a(href='#', title='Instagram')
								img(src='images/svg/icons/icon-soc-insta.svg', alt='Instagram')
				// soc-icons-list-wrap
				.get-zen
					h2 Заработай ZEN
					ul.get-zen-list.clearafter
						li.get-zen-item.w20
							a(href='get-zen.html')
								.get-zen-item__icon-wrap
									img.get-zen-item__icon.get-zen-item__icon--reg-ticket(src='images/svg/get-zen-reg-ticket.svg', alt='Зарегистрировать билет')
									img.get-zen-item__icon.get-zen-item__icon--reg-ticket.get-zen-item__icon--hover(src='images/svg/get-zen-reg-ticket-hover.svg', alt='Зарегистрировать билет')
								// get-zen-item__icon-wrap
								span
									| Зарегистрировать
									br
									| билет
						li.get-zen-item.w20
							a(href='get-zen.html')
								.get-zen-item__icon-wrap
									img.get-zen-item__icon.get-zen-item__icon--abonement(src='images/svg/get-zen-abonement.svg', alt='Прикрепить абонимент')
									img.get-zen-item__icon.get-zen-item__icon--abonement.get-zen-item__icon--hover(src='images/svg/get-zen-abonement-hover.svg', alt='Прикрепить абонимент')
								// get-zen-item__icon-wrap
								span
									| Прикрепить
									br
									| абонимент
						li.get-zen-item.w20
							a(href='get-zen.html')
								.get-zen-item__icon-wrap
									img.get-zen-item__icon.get-zen-item__icon--friend(src='images/svg/get-zen-invite-friend.svg', alt='Пригласить друга')
									img.get-zen-item__icon.get-zen-item__icon--friend.get-zen-item__icon--hover(src='images/svg/get-zen-invite-friend-hover.svg', alt='Пригласить друга')
								// get-zen-item__icon-wrap
								span
									| Пригласить
									br
									| друга
						li.get-zen-item.w20
							a(href='get-zen.html')
								.get-zen-item__icon-wrap
									img.get-zen-item__icon.get-zen-item__icon--repost(src='images/svg/get-zen-repost.svg', alt='Сделать репост')
									img.get-zen-item__icon.get-zen-item__icon--repost.get-zen-item__icon--hover(src='images/svg/get-zen-repost-hover.svg', alt='Сделать репост')
								// get-zen-item__icon-wrap
								span
									| Сделать
									br
									| репост
						li.get-zen-item.w20
							a(href='prognoz.html')
								.get-zen-item__icon-wrap
									img.get-zen-item__icon.get-zen-item__icon--prognoz(src='images/svg/get-zen-prognoz.svg', alt='Сделать прогноз')
									img.get-zen-item__icon.get-zen-item__icon--prognoz.get-zen-item__icon--hover(src='images/svg/get-zen-prognoz-hover.svg', alt='Сделать прогноз')
								// get-zen-item__icon-wrap
								span
									| Сделать
									br
									| прогноз
					// get-zen-list
				// get-zen
			// get-zen-wrap
		.zen-progress-wrap
			.zen-progress
				h2 Z достижения
				span.zen-progress__count 4 из 15
				.zen-progress__tabs-wrap
					ul.zen-progress__tabs-nav.zp-nav
						li.zp-nav__item
							a(href='#') Мои достижения
						li.zp-nav__item
							a(href='#') Матчи
						li.zp-nav__item
							a(href='#') Прогнозы
						li.zp-nav__item
							a(href='#') Репосты
						li.zp-nav__item
							a(href='#') ZEN
						li.zp-nav__item
							a(href='#') Zenomania
					// zen-progress__tabs-nav
					.zen-progress__tabs-list
						.zen-progress__tab
							ul.zen-progress__medal-list
								li.zen-progress__medal
									img#circles-1(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Посетил первый матч
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-1-1-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--green(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 195 / 1
									p Популярный
									span Сделал 100 репостов
								li.zen-progress__medal
									img(src='images/svg/medal-1-2.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='75')
										figcaption
										img(src='images/svg/medal-1-2-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--green(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
						// zen-progress__tab
						.zen-progress__tab
							ul.zen-progress__medal-list
								li.zen-progress__medal
									img(src='images/svg/medal-2-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Посетил первый матч
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-2-1-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--purple(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 195 / 1
									p Популярный
									span Сделал 100 репостов
								li.zen-progress__medal
									img(src='images/svg/medal-2-2.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='75')
										figcaption
										img(src='images/svg/medal-2-2-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--purple(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-2-3.svg', alt='Начинающий')
									span 1 / 1
									p Наffhающий
									span Зарегестр7jihihhся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-2-3-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--purple(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
						// zen-progress__tab
						.zen-progress__tab
							ul.zen-progress__medal-list
								li.zen-progress__medal
									img(src='images/svg/medal-3-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Посетил первый матч
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-3-1-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--yellow(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 195 / 1
									p Популярный
									span Сделал 100 репостов
								li.zen-progress__medal
									img(src='images/svg/medal-3-2.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='75')
										figcaption
										img(src='images/svg/medal-3-2-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--yellow(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-3-3.svg', alt='Начинающий')
									span 1 / 1
									p Наffhающий
									span Зарегестр7jihihhся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-3-3-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--yellow(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
						// zen-progress__tab
						.zen-progress__tab
							ul.zen-progress__medal-list
								li.zen-progress__medal
									img(src='images/svg/medal-4-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Посетил первый матч
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-4-1-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--red(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 195 / 1
									p Популярный
									span Сделал 100 репостов
								li.zen-progress__medal
									img(src='images/svg/medal-4-2.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-4-2-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--red(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-4-3.svg', alt='Начинающий')
									span 1 / 1
									p Наffhающий
									span Зарегестр7jihihhся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-4-3-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--red(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-4-4.svg', alt='Начинающий')
									span 1 / 1
									p Наffhающий
									span Зарегестр7jihihhся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='75')
										figcaption
										img(src='images/svg/medal-4-4-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--red(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
						.zen-progress__tab
							ul.zen-progress__medal-list
								li.zen-progress__medal
									img(src='images/svg/medal-5-1.svg', alt='Начинающий')
									span 1 / 1
									p Наffhающий
									span Зарегестр7jihihhся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='50')
										figcaption
										img(src='images/svg/medal-5-1-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--blue(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-5-2.svg', alt='Начинающий')
									span 1 / 1
									p Наffhающий
									span Зарегестр7jihihhся на Zenomania
								li.zen-progress__medal
									figure.chart(data-percent='75')
										figcaption
										img(src='images/svg/medal-5-2-deactive.svg', alt='Начинающий')
										svg(width='150', height='150')
											circle.outer.outer--blue(cx='115', cy='74', r='61', transform='rotate(90, 95, 55)')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
						.zen-progress__tab
							ul.zen-progress__medal-list
								li.zen-progress__medal
									img(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Посетил первый матч
								li.zen-progress__medal
									img(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 195 / 1
									p Популярный
									span Сделал 100 репостов
								li.zen-progress__medal
									img(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 1 / 1
									p Наffhающий
									span Зарегестр7jihihhся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania
								li.zen-progress__medal
									img(src='images/svg/medal-1-1.svg', alt='Начинающий')
									span 1 / 1
									p Начинающий
									span Зарегестрируйся на Zenomania